.center_block {
    margin-top: -600px;
}

.end {
    left: 30px;
    position: relative;
}

.center {
    height: 553px;
    width: 494px;
    left: 102px;
    top: -600px;
    border-radius: 0px;
    position: relative;
    background: #FFFFFFB8;

}

.text {
    color: rgb(116, 106, 106);
    text-align: center;
    position: relative;
    top: -1090px;
    left: -390px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;

}

.text_p1 {
    text-align: center;
    position: relative;
    top: -1070px;
    left: -390px;
    color: rgb(113, 113, 100);
}

.btn {
    height: 78px;
    width: 334px;
    left: 189px;
    top: -1006px;
    border-radius: 0px;
    background: #E89F71;
    color: white;
    border-radius: 5px;
    border: none;
    position: relative;
}

.p_block01 {
    height: 148px;
    width: 294px;
    left: 1008px;
    top: -1086px;
    border-radius: 0px;
    background: #FFFFFFB8;
    text-align: end;
    position: relative;
}
.from{
    left: 60px;
    position: relative;     
}
.text_h1{
            color: rgb(45, 36, 36);
            text-align: center;
            top: -1200px;
            position: relative;
            left: 400px;
            line-height: 30px;
}