* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

@import './Css/Links.css';
@import './Css/Navbar.css';
@import './Css/SearchBox.css';
@import './Css/Love.css';
@import"./Css/center.css";
@import './Css/Products.css';
@import "./Css/flex.css"