* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0 40px;
}

@import './Css/Links.css';
@import './Css/Navbar.css';
@import './Css/SearchBox.css';
@import './Css/Love.css';
@import"./Css/center.css"